modules = ["rust-stable"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Redis Simulator"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Redis Production Server"

[[workflows.workflow]]
name = "Run Redis Simulator"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run --release"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Redis Production Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run --bin redis-server --release"
waitForPort = 3000

[[workflows.workflow]]
name = "Run Test"
mode = "sequential"
author = 778193

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run --bin test-client --release"

[deployment]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000

[nix]
packages = ["redis", "openjdk", "graphviz", "gnuplot", "bzip2"]
channel = "stable-25_05"
